$logo-color: hsl(122,50%,30%);
$search-color:rgb(244,245,248);
$icon-color-blue: hsl(187,72%,71%);
$icon-color-pink: hsl(356,100%,79%);
$icon-color-yellow: hsl(39,100%,77%);
$icon-color-red:hsl(355,87%,62%);
$search-border-color: hsl(208,100%,82%);
