@import './variables/colors';
@import './variables/fonts';
@import './variables/mixins.scss';

body{
    
    box-sizing: border-box;
}
.navbar-nav{
    padding: 5px 0px;
   
}

.container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-search{
    
    width: 70%;
    position: relative;
    margin: auto;
  
    input{
        width: 100%;
        border: none;
        background-color: $search-color;
        box-sizing: border-box;
        outline:none;
        border-radius: 10px; 
        padding-left: 32px;
        line-height: 30px;
        cursor: pointer;
        
    } 
    input:focus{
        border: 1px solid $search-border-color ;
        cursor: auto;
    }
    img{
        position: absolute;
        left: 8px;
        top: 8px;
        width: 17px;
    }
}

.nav-icon{
    display: flex;
    font-size: 25px;
    
    justify-content: space-between;
    div:nth-child(1){
        color: $icon-color-blue;
    }
    div:nth-child(2){
    color: $icon-color-pink;
}
    div:nth-child(3){
        color: $icon-color-yellow;
    }
    div:nth-child(4){
        color: $icon-color-red;
    }
}

.nav-icon > div {
    cursor: pointer;
    position: relative;
    span{
        position: absolute;
        margin-top: 2px;
    }  
}







