@import './variables/colors';
@import './variables/fonts';
@import './variables/mixins.scss';

body{
    
    box-sizing: border-box;
}

.navbar-nav{
    width: 70%;
    margin: auto;
    padding: 5px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-search{
    
    width: 70%;
    position: relative;
    margin: auto;
  
    input{
        width: 100%;
        border: none;
        background-color: $search-color;
        box-sizing: border-box;
        outline:none;
        border-radius: 10px; 
        padding-left: 32px;
        line-height: 30px;
        cursor: pointer;
        
    } 
    input:focus{
        border: 1px solid $search-border-color ;
        cursor: auto;
    }
    img{
        position: absolute;
        left: 8px;
        top: 8px;
        width: 17px;
    }
}

.nav-icon{
    display: flex;
    font-size: 25px;
    
    justify-content: space-between;
    div:nth-child(1){
        color: $icon-color-blue;
    }
    div:nth-child(2){
    color: $icon-color-pink;
}
    div:nth-child(3){
        color: $icon-color-yellow;
    }
    div:nth-child(4){
        color: $icon-color-red;
    }
}

.nav-icon > div {
    cursor: pointer;
    position: relative;
    span{
        position: absolute;
        margin-top: 2px;
    }  
}

.homebody{
    width: 69%;
    margin: auto;

}

.body-post{
    
    border: 1px solid black;
}
.sidebar{
    overflow-y: scroll;
    background-color: $search-color;
    border-radius:10px ;
}
.sidebar-tag{
    
    
    .agenda-title{
        text-align: center;
        margin-top: 5px;
        h5{
           font-weight: 10px; 
           font-size: large;
        }
    }
    .hashtag{
        li{
            list-style-type: none;
        }
        
    }

    .sidebar-button{
        text-align: center;
        cursor: pointer;
        button{
            border: none;
           color: $logo-color; 
           background-color: $search-color;
        }
        
    }
}









